registry  "https://registry.npmmirror.com/"
sass_binary_site  "https://registry.npmmirror.com/binary.html?path=node-sass/"
sharp_binary_host   "https://registry.npmmirror.com/binary.html?path=sharp/"
sharp_libvips_binary_host   "https://registry.npmmirror.com/binary.html?path=sharp-libvips/"

unsafe-perm  "true"

"@box:registry" "https://registry.box3.ink/repository/npm-private/"
"@createra:registry" "https://registry.box3.ink/repository/npm-private/"
# "@createra:registry" "http://localhost:4873/"

# @cmao:registry  "https://cnpm.codemao.cn/"
# cnpm.codemao.cn/:_password="d15nSFJHMjRYZnM2NzM2ZipzejNMZw=="
# cnpm.codemao.cn/:username=developer
# cnpm.codemao.cn/:email=luoyunzhi@codemao.cn
# cnpm.codemao.cn/:always-auth=true
